# =============================================
#       Java / Maven / Spring Boot
# =============================================
target/
*.jar
*.war
*.ear
.idea/
*.iml
*.log
.classpath
.project
.settings/

# =============================================
#       Node.js / Vue.js
# =============================================
node_modules/
dist/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
